// app global css in SCSS form

/* Breakpoints */

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $breakpoint-xs-min) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: $breakpoint-sm-min) {
  .container,
  .container-sm,
  .container-md {
    max-width: 920px;
  }
}

@media (min-width: $breakpoint-md-min) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 1140px;
  }
}

@media (min-width: $breakpoint-lg-min) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1440px;
  }
}

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400;1,700;1,900&display=swap');

body, p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Itim', cursive;
}

/* Home */

a.ppl_home_router {
  text-decoration: none;
  color: $primary;
}

a.ppl_home_router:hover {
  text-decoration: none;
  color: black;
}

.ppl_home_title {
  font-weight: bold;
  font-size: 23px;
  line-height: 28px;
}

.ppl_home_title_desktop {
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
}


@media (min-width: $breakpoint-md-min) {
  .ppl_home > div {
    padding: 30px;
  }
  .body--dark a.ppl_home_router:hover {
    color: #eee;
  }
}

/* Post */
.ppl_post_title {
  font-size: 40px;
  line-height: 42px;
}

.ppl_post_meta {
  font-size: 26px;
  line-height: 30px;
}


.ppl_post_body p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  line-height: 25px;
}


.ppl_post_player_close {
  position: relative;
  top:-10px;
  z-index: 999;
  right:0;
  float: right;
}

.ppl_darkmode {
  position: relative;
  right: 0px !important;
  float: right;
  top: 14px;  
}

.body--dark p,
.body--dark a,
.body--dark h1,
.body--dark h2,
.body--dark h3,
.body--dark .q-breadcrumbs__el,
.body--dark .q-breadcrumbs__separator,
.body--dark .q-link,
.body--dark .q-btn__content .block
{
  color: #ddd;
}

.ppl_kategorititle {
  text-align: center;
  font-size: 30px;
}

.ppl_share i {
    font-size: 30px;
}

.desktop-only.ppl_darkmode {
  position: relative;
  top: 0px;
}

.body--dark .ppl_share i {
  color: #fff !important;
}

.ppl_readmore {
  text-decoration: underline;
  font-weight: bold;
  font-style: italic;
}

.ppl_hometext {
  font-family: "Source Sans Pro", sans-serif;
}

.ppl_wrapper_hori {
  display: flex;
  justify-content: center;
}
.ppl_hori {
  background: #efefef;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(100% - 4rem);
  min-height: 50vh;
}
.body--dark .ppl_hori,
.body--dark .ppl_wrapper_story {
    background: black;
}
.ppl_wrapper_story {
    background: #efefef;
}
.ppl_borderbottom {
  border-bottom: 2px solid #444;
}

.ppl_homecard_title {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
}